body {
  margin: 0;
  background: black;
  overflow: hidden;
  color: white;
  font-family: Arial;
}

#menu {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#menu img {
  width: 140px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
}

canvas {
  display: none;
  background: #111;
}

#jumpBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  padding: 20px;
  z-index: 5;
}
