body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

/* Canvas НИЖЕ меню */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Меню ПОВЕРХ */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  padding-top: 20vh;
  z-index: 9999;
}

#menu img {
  width: 140px;
  margin: 20px;
  border: 3px solid white;
  border-radius: 12px;
  cursor: pointer;
  touch-action: manipulation;
}
