body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  padding-top: 20vh;
  z-index: 10;
}

#menu img {
  width: 120px;
  margin: 20px;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
}