body {
  margin: 0;
  background: black;
  overflow: hidden;
  color: white;
  font-family: Arial;
}

#menu {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#menu img {
  width: 150px;
  margin: 15px;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
}

canvas {
  display: none;
  background: #111;
  position: fixed;
  inset: 0;
}

#jumpBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 40%;
  font-size: 30px;
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  z-index: 5;
}
